.vert0 .guid3-slider {
  fill: white;
  fill-opacity: 1.0;

}

.vert0 .guid3-slider-textvalue {
  fill: none;
}

.button0 .guid3-button {
  fill: #7bb1cd;
  stroke: none;
}

.button0 .guid3-button-inactive {
  fill-opacity: 0.5;
  stroke: none;
}

.button0 .guid3-button-text {
  fill: white;
  stroke: none;
  font-family: Helvetica;
  font-size: 16px;
  text-decoration: blink;
  -webkit-filter: blur(29px);
}

.color_slider .guid3-slider {
  fill: #eaeaea;
  stroke: black;
  stroke-opacity: 0.1;
}

.color_slider .guid3-slider-indicator {
  fill: #555c76;
  stroke: none;
}

.color_slider .guid3-slider-textvalue {
  display: none;
}

.color_slider .guid3-slider-textlabel {
  -webkit-transform: translate(10px,140px);
  transform: translate(10px,140px);
  font-family: Helvetica;
  font-size: 10px;
  /*letter-spacing: 1px;*/
  text-anchor: middle;
}

#red text.guid3-slider-textlabel {
  fill: red;
  font-family: Helvetica;
}

#red rect.guid3-slider-indicator {
  fill: red;
}

#green text.guid3-slider-textlabel {
  fill: green;
  font-family: Helvetica;
}
#green rect.guid3-slider-indicator {
  fill: green;
}


#blue text.guid3-slider-textlabel {
  fill: blue;
  font-family: Helvetica;
}
#blue rect.guid3-slider-indicator {
  fill: blue;
}


.slider2 .guid3-slider {
  fill: #bdbdbd;
  stroke: black;
  stroke-opacity: 0.1;
}

.slider2 .guid3-slider-indicator {
  fill: #555c76;
  stroke: none;
}

.slider2 .guid3-slider-textvalue {
  -webkit-transform: translate(-5px,7px);
  transform: translate(-5px,7px);
  fill: #7c7c7c;
  text-anchor: end;
  font-size: 12px;
  font-weight: 100;
  font-family: Helvetica;
}

.slider2 .guid3-slider-textlabel {
  -webkit-transform: translate(5px,24px);
  transform: translate(5px,24px);
  fill: white;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 10px;
}

.slider_linear_log .guid3-slider {
  fill: #eaeaea;
  stroke: black;
  stroke-opacity: 0.1;
}

.slider_linear_log .guid3-slider-indicator {
  fill: #5f7fe2;
  stroke: none;
}

.slider_linear_log .guid3-slider-textvalue {
  -webkit-transform: translate(-5px,0px);
  transform: translate(-5px,0px);
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 100;
  fill: #7c7c7c;
  text-anchor: end;
}

.slider_linear_log .guid3-slider-textlabel {
  -webkit-transform: translate(5px,10px);
  transform: translate(5px,10px);
  fill: #494949;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;

}

.button_toggle0 .guid3-button {
  fill: #7bb1cd;
  fill-opacity: 1.0;
  stroke: none;
}

.button_toggle0 .guid3-button-inactive {
  fill-opacity: 0.1;
  stroke: #bababa;
}

.button_toggle0 .guid3-button-text {
  fill: white;
  stroke: none;
  font-family: Helvetica;
  font-size: 16px;
}
